@inherits LayoutComponentBase

<div class="section-container">
    <h2>@Title</h2>
    <p>@Description</p>

    @ChildContent
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
