@inherits LayoutComponentBase

<div class="orbit-section aos-fade-up">
    <h2 class="orbit-section-title">@Title</h2>

    @if (!string.IsNullOrWhiteSpace(Description))
    {
        <p class="orbit-section-description">@Description</p>
    }

    @ChildContent
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
