@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider />

<MudDialogProvider />
<MudSnackbarProvider />

<div class="main-wrapper">
    <NavMenu />

    <main class="page-body">
        @Body
    </main>

    <Footer />
</div>
